<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.MajorinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.model.Majorinfo">
        <id column="mid" property="mid" />
        <result column="mName" property="mname" />
        <result column="mCode" property="mcode" />
        <result column="mCollegeId" property="mcollegeid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mid, mName, mCode, mCollegeId
    </sql>

</mapper>
