<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.TeacherinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.model.Teacherinfo">
        <id column="tId" property="tid" />
        <result column="tNo" property="tno" />
        <result column="tName" property="tname" />
        <result column="tSex" property="tsex" />
        <result column="tTel" property="ttel" />
        <result column="tEduLevel" property="tedulevel" />
        <result column="tSchool" property="tschool" />
        <result column="tAddress" property="taddress" />
        <result column="tAccountId" property="taccountid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tId, tNo, tName, tSex, tTel, tEduLevel, tSchool, tAddress, tAccountId
    </sql>

</mapper>
