<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.YeartermMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.model.Yearterm">
        <id column="yId" property="yid" />
        <result column="yYear" property="yyear" />
        <result column="yTerm" property="yterm" />
        <result column="yAll" property="yall" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        yId, yYear, yTerm, yAll
    </sql>

</mapper>
